doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    link(rel='icon' type='image/x-icon' href='/favicon.ico')
    // Font Awesome icons
    script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js' crossorigin='anonymous')
    // Google fonts
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css')
    link(href=' /css/styles.css' rel='stylesheet')
    title Class Cricket | #{title}


    body
        // HEADER
        include constant/_header

        // HOMEPAGE
        block content 
            h1 Placeholder for class cricket landing page

        //PARTNERSHIPS
        include constant/_partnerships

        // FOOTER
        include constant/_footer
        
        // Bootstrap core JS
        //- script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        //- script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')
        // Core JS
        script(src='https://js.stripe.com/v3/')
        script(src='/js/bundle.js')


