extends base

block content
  section#coachingteam
    .coachingteam-overview
      h1 Our Team 
    hr
    .coaching-country
      h1 🇬🇧 U.K.
    .card-container
      .card.coaching-team
        .coaching-member__img
          img(src="img/default-icon.jpeg")
        .coaching-member__title
          h3.coach-name John Smith
          h5.coach-title Coach
          p.coach-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est animi alias voluptates, velit quasi necessitatibus.
      .card.coaching-team
        .coaching-member__img
          img.coach-img(src="img/default-icon.jpeg")
        .coaching-member__title
          h3.coach-name John Smith
          h5.coach-title Coach
          p.coach-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est animi alias voluptates, velit quasi necessitatibus.
      .card.coaching-team
        .coaching-member__img
          img.coach-img(src="img/default-icon.jpeg")
        .coaching-member__title
          h3.coach-name John Smith
          h5.coach-title Coach
          p.coach-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est animi alias voluptates, velit quasi necessitatibus.
    hr
    .coaching-country
      h1 🇮🇳 India 
    .card-container
      .card.coaching-team
        .coaching-member__img
          img(src="img/default-icon.jpeg")
        .coaching-member__title
          h3.coach-name John Smith
          h5.coach-title Coach
          p.coach-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est animi alias voluptates, velit quasi necessitatibus.
      .card.coaching-team
        .coaching-member__img
          img.coach-img(src="img/default-icon.jpeg")
        .coaching-member__title
          h3.coach-name John Smith
          h5.coach-title Coach
          p.coach-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est animi alias voluptates, velit quasi necessitatibus.
      .card.coaching-team
        .coaching-member__img
          img.coach-img(src="img/default-icon.jpeg")
        .coaching-member__title
          h3.coach-name John Smith
          h5.coach-title Coach
          p.coach-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est animi alias voluptates, velit quasi necessitatibus.
    .coachingteam-joinus 
      .text-container
        h2 Fancy joining our team? Get in touch with us below!
        a.btn.btn--light.btn--small(href="/find-us") JOIN US!
      
      