extends base

block content
  section#coachingteam
    .coachingteam-overview
      h1 Our Team 
      hr
      .coaching-country
        h1 🇬🇧 U.K.
        .coachingteam-wrapper
          .coaching-member
            img.coach-img(src="img/default-icon.jpeg")
            h3.coach-name John Smith
            h5.coach-title Coach
            p.coach-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est animi alias voluptates, velit quasi necessitatibus.
          .coaching-member
            img.coach-img(src="img/default-icon.jpeg")
            h3.coach-name John Smith
            h5.coach-title Coach
            p.coach-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est animi alias voluptates, velit quasi necessitatibus.
          .coaching-member
            img.coach-img(src="img/default-icon.jpeg")
            h3.coach-name John Smith
            h5.coach-title Coach
            p.coach-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est animi alias voluptates, velit quasi necessitatibus.
          .coaching-member
            img.coach-img(src="img/default-icon.jpeg")
            h3.coach-name John Smith
            h5.coach-title Coach
            p.coach-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est animi alias voluptates, velit quasi necessitatibus.
          .coaching-member
            img.coach-img(src="img/default-icon.jpeg")
            h3.coach-name John Smith
            h5.coach-title Coach
            p.coach-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est animi alias voluptates, velit quasi necessitatibus.
          .coaching-member
            img.coach-img(src="img/default-icon.jpeg")
            h3.coach-name John Smith
            h5.coach-title Coach
            p.coach-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est animi alias voluptates, velit quasi necessitatibus.
      hr
      .coaching-country
        h1 🇮🇳 India 
        .coachingteam-wrapper
          .coaching-member
            img.coach-img(src="img/default-icon.jpeg")
            h3.coach-name John Smith
            h5.coach-title Coach
            p.coach-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est animi alias voluptates, velit quasi necessitatibus.
          .coaching-member
            img.coach-img(src="img/default-icon.jpeg")
            h3.coach-name John Smith
            h5.coach-title Coach
            p.coach-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est animi alias voluptates, velit quasi necessitatibus.
          .coaching-member
            img.coach-img(src="img/default-icon.jpeg")
            h3.coach-name John Smith
            h5.coach-title Coach
            p.coach-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est animi alias voluptates, velit quasi necessitatibus.
          .coaching-member
            img.coach-img(src="img/default-icon.jpeg")
            h3.coach-name John Smith
            h5.coach-title Coach
            p.coach-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est animi alias voluptates, velit quasi necessitatibus.
          .coaching-member
            img.coach-img(src="img/default-icon.jpeg")
            h3.coach-name John Smith
            h5.coach-title Coach
            p.coach-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est animi alias voluptates, velit quasi necessitatibus.
          .coaching-member
            img.coach-img(src="img/default-icon.jpeg")
            h3.coach-name John Smith
            h5.coach-title Coach
            p.coach-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est animi alias voluptates, velit quasi necessitatibus.
    .coachingteam-join        
      .coachingteam-joinus 
        h1 Fancy joining our team? Get in touch with us below!
        a(href="/find-us"): button JOIN US!
      
      