extends base

block content
    section#course-details
      .course-information
        h1 Welcome to the #{course.courseTitle} Course page
        hr
        h2 What does this course include?
        hr
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam itaque maxime, hic vero quas eum distinctio quisquam ullam magnam recusandae, doloremque libero perspiciatis nihil cum labore earum, minus voluptatibus reiciendis.
        ul 
          li item A 
          li item B 
          li item C 
      
      .course-video-example
        h1.video-title 🏏 How can we help you at Class Cricket?
        .video-box
          iframe(src="https://www.youtube.com/embed/7WlFMeYpfiI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

      .course-booking
        if user 
          a.btn.btn--blue.btn--small#book-course(data-course-id=`${course.id}`) Purchase Course
        else
          a.btn.btn--blue.btn--small(href=`/login-form`) Log in to book



