extends base

block content
  section#help-me

    .helpme-overview
      h2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut molestias corrupti eos accusantium, necessitatibus dolorum?
      hr
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam itaque maxime, hic vero quas eum distinctio quisquam ullam magnam recusandae, doloremque libero perspiciatis nihil cum labore earum, minus voluptatibus reiciendis.

