extends base

block content 
  main#video-player
    .container 
      .row
        .col-lg
          h1 Video Title 
          hr
          p video description 
          hr
          video(id="videoPlayer" controls style="width: 100%" poster="./thumbnails/globe.png" src="./videos/example.mp4") 