@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Livvic:400,600&display=swap');

:root {
  /* theme colors */
  --text-gray: rgb(185, 185, 185);
  --bg-color: white;

  /* gradient colors */
  --dark: #101326;
  --green: #0f594b;
  --white: #f2f2f2;
  --gray: #c2c2c2;

  /*  theme font-family */
  --lexend: 'Lexend Deca', sans-serif;
  --livvic: 'Livvic', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: #777;
  margin: 0%;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
}

/* ==================== Utilities ================== */

.btn,
.btn:link,
.btn:visited {
  font-size: 1.2rem;
  padding: 1.4rem 3rem;
  border-radius: 8rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 400;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /*Add later when we use this for the button in form*/
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:active {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
  background-color: #697ac7;
}

.btn--blue {
  background-color: #3952c2;
  color: #fff;
}
.btn--blue::after {
  background-color: #3952c2;
}

.btn--white {
  background-color: #fff;
  border: 2px solid #3952c2 !important;
  color: #3952c2;
}

.btn--white::after {
  background-color: #fff;
}

.btn--light {
  background-color: #fff;
  color: #8a8a8a;
}

.btn--small {
  padding: 1rem 1.5rem !important;
  font-size: 1rem !important;
}

.video-container {
  display: flex;
}

/* ==================== NAVBAR ================== */

.img--size {
  height: 3.5rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

.text-black {
  color: var(--bg-color);
}

nav {
  padding: 0 2rem;
  background: var(--dark);
  position: relative;
  justify-content: space-between;
  height: 0rem;
  min-height: 8.5vh;
  overflow: hidden;
  transition: height 1s cubic-bezier(0, 0, 0.31, 1.27);
  align-items: center;
}

nav .nav-brand a {
  display: block;
  padding: 1rem 0;
  font-family: var(--lexend);
  font-size: 1.6rem;
}

nav .nav-items {
  list-style-type: none;
  margin: 0;
}

nav .nav-items .nav-link {
  padding: 1rem 1rem;
  font-family: var(--livvic);
  font-size: 1.1rem;
}

nav .nav-items .nav-link:hover {
  background: #171b36;
  transition: 0.3s;
  cursor: pointer;
}

nav .nav-items .nav-link:hover a {
  color: #bbe1fa;
  transition: 0.3s;
}

nav .social {
  padding: 1.4rem 0;
}

nav .social i {
  margin: 0 0.5rem;
}

.svg-inline--fa {
  margin: 0 0.4rem;
}

nav .toggle-collapse {
  position: absolute;
  top: 0%;
  width: 100%;
  cursor: pointer;
  display: none;
}

nav .toggle-collapse .toggle-icons {
  display: flex;
  justify-content: flex-end;
  padding: 1.4rem 4rem;
}

nav .toggle-collapse .toggle-icons i {
  font-size: 1.4rem;
}

.collapse {
  height: 33rem;
}

@media only screen and (max-width: 1143px) {
  nav .nav-items {
    flex-direction: column;
  }
  nav .nav-items {
    margin-top: 20px;
  }
  nav {
    flex-direction: column !important;
    display: block !important;
  }

  nav .toggle-collapse {
    display: initial;
  }
}

/* ======================= TITLE HOME PAGE ========================= */

#title {
  height: 40rem;
  width: 100%;
  background-image: url('../img/title-background.jpeg');
  background-position: center center;
  background-size: cover;
}

.container-title {
  justify-content: center;
  text-align: center;
  padding-top: 250px;
}

.container-title h6,
h1 {
  margin: 0;
  color: var(--white);
  padding-bottom: 30px;
}

.container-title h6 {
  font-size: 1.5rem;
}

.container-title h1 {
  font-size: 3rem;
}

/* ======================= OVERVIEW ========================= */

.section-overview-container {
  margin: 100px;
}

@media only screen and (max-width: 425px) {
  .section-overview-container {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* ======================= SERVICES ========================= */

.hr__service {
  width: 25%;
  margin-top: 50px;
}

.wrapper-services {
  background: var(--green);
  color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 1fr 3fr;
  text-align: center;
}

.content__options {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 2rem 0rem 0rem;
}

.content__logo {
  background-color: var(--white);
}

.service--options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 25px;
}

.service--text {
  margin: 20px;
  padding: 0rem 0rem 2rem 0rem;
}

.content__logo img {
  object-fit: cover;
  max-width: 100%;
}

.service--options img {
  object-fit: cover;
  max-width: 100%;
  max-height: 5rem;
}

@media only screen and (max-width: 767px) {
  .wrapper-services {
    grid-template-columns: 1fr;
  }

  .content__options {
    display: grid;
    grid-template-rows: 1fr;
  }

  .service--options {
    display: grid;
    grid-template-columns: 1fr;
  }

  .content__logo img {
    object-fit: cover;
    max-width: 100%;
    max-height: 20rem;
  }

  .service--options button {
    margin-bottom: 70px;
  }

  hr .hr__service {
    margin-bottom: 70px;
    margin-top: 40px;
  }
}

/* ======================= NEWSLETTER BLOCK ========================= */

#newsletter {
  background-color: var(--gray);
}

.newsletter--box {
  padding: 150px 50px;
  margin: auto;
}

.newsletter--content {
  text-align: center;
}

.fa-newspaper {
  color: var(--dark);
  font-size: 5rem;
  padding-bottom: 15px;
}

.newsletter--content h1 {
  font-size: 2rem;
  color: var(--dark);
}

@media only screen and (max-width: 767px) {
  .fa-newspaper {
    font-size: 3rem;
  }

  .newsletter--content h1 {
    font-size: 1rem;
  }
}

/* ======================= CONTACT ME FORM ========================= */

#contact-form {
  background: url('../img/background-cf.jpeg') repeat 0 0;
  background-size: cover;
}

.wrapper__contact-form {
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  padding: 100px 25px;
}

.contact-form-content {
  text-align: center;
}

.contact-form-content h1 {
  letter-spacing: 1px;
}

.contact-form {
  width: 100%;
  margin: 25px 0;
}

.inner-form {
  text-align: left;
}

.top-form,
.middle-form,
.bottom-form {
  width: 100%;
  min-height: 65px;
  margin: 25px 0;
  overflow: hidden;
}

.contact-form input[type='text'],
.contact-form textarea {
  padding: 15px 5px;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid #fff;
  border-radius: 2px;
  outline: none;
  transition: all 0.2s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--white);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0125), 0 0 8px rgb(255, 255, 255);
}

.contact-form .label {
  margin-bottom: 5px;
  text-transform: capitalize;
}

.top-form .inner-form {
  width: 29.9%;
  float: left;
  margin-right: 5%;
}

.middle-form .inner-form {
  width: 29.9%;
  float: left;
  margin-right: 5%;
}

.middle-form {
  clear: both;
}

.top-form .inner-form:last-child {
  margin-right: 0;
}

.middle-form .inner-form:last-child {
  margin-right: 0;
}

.bottom-form textarea {
  height: 120px;
}

.contact-btn {
  background: var(--dark);
  width: 200px;
  padding: 10px 0;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: 5px;
  cursor: pointer;
}

/* chrome */
::-webkit-input-placeholder {
  --livvic: 'Livvic', sans-serif;
  text-transform: capitalize;
}

/* firefox */
::-moz-input-placeholder {
  --livvic: 'Livvic', sans-serif;
  text-transform: capitalize;
}

/* IE */
::-ms-input-placeholder {
  --livvic: 'Livvic', sans-serif;
  text-transform: capitalize;
}

@media screen and (max-width: 460px) {
  .wrapper__contact-form {
    margin: 0 auto 0;
    padding: 25px;
  }
  .top-form .inner-form {
    width: 100%;
    margin: 5px 0;
  }
  .middle-form .inner-form {
    width: 100%;
    margin: 5px 0;
  }
}

/* ======================= TESTIMONIAL HOME ========================= */

#testimonial-home {
  background-color: var(--gray);
  padding-bottom: 15px;
}

#testimonial-home .testimonial-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: auto;
  margin: 0px 50px;
}

#testimonial-home .testimonial-box {
  background-color: white;
  text-align: center;
  margin: 0px 15px 50px;
  padding: 50px;
  max-width: 100rem;
  border-radius: 5%;
  box-shadow: 3px 3px 5px var(--dark);
}

#testimonial-home h1 {
  color: var(--dark);
  font-size: 2rem;
  text-align: center;
  padding-top: 70px;
}

#testimonial-home img {
  border-radius: 50%;
  width: 100px;
}

#testimonial-home hr {
  width: 50%;
}

@media screen and (max-width: 767px) {
  #testimonial-home {
    padding-bottom: 30px;
  }
  #testimonial-home .testimonial-info {
    grid-template-columns: 1fr 1fr;
  }

  #testimonial-home .testimonial-box {
    margin: 20px 15px;
    padding: 30px 20px;
  }
}

@media screen and (max-width: 564px) {
  #testimonial-home .testimonial-info {
    grid-template-columns: 1fr;
  }
}

/* ======================= FIND US ========================= */

.findus-heading {
  color: var(--dark);
  width: auto;
  padding: 50px 50px 70px;
  display: grid;
  grid-template-columns: 50%;
}

#findus {
  background-color: var(--white);
  padding-bottom: 15px;
}

#findus .findus-overview {
  color: var(--dark);
  padding-top: 20px;
  padding-left: 48px;
}

#findus .findus-info {
  color: var(--dark);
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: auto;
  margin: 30px 0px;
  min-width: 100%;
}

#findus .findus-box {
  background-color: white;
  text-align: start;
  margin: 0px 20% 0px;
  padding: 20px;
  min-width: 30vw;
  border-radius: 5%;
  box-shadow: 3px 3px 5px var(--dark);
}

#findus .findus-box .findus-flag {
  font-size: 5rem;
  margin: 0px;
  padding: 0px;
}

#findus .findus-box hr {
  max-width: 100px;
  margin: 0px;
}

@media screen and (max-width: 767px) {
  #findus {
    padding-bottom: 30px;
  }
  #findus .findus-info {
    grid-template-columns: 1fr 1fr;
  }

  #findus .findus-box {
    margin: 20px 15px;
    padding: 30px 20px;
  }
}

@media screen and (max-width: 564px) {
  #findus .findus-info {
    grid-template-columns: 1fr;
  }
}

/* FIND US MAP  */

#findus-map .map-content {
  height: 20rem;
  width: 100%;
  max-width: 100%;
}

#findus-map .map-content iframe {
  width: 100%;
  height: 100%;
}

/* ======================= COACHING TEAM ========================= */

#coachingteam .coachingteam-overview {
  margin: 8rem 10rem 2rem;
  color: var(--dark);
  max-width: 100%;
}

#coachingteam .coachingteam-overview h1 {
  color: var(--dark);
}

#coachingteam .coachingteam-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 100%;
  margin-top: 25px;
}

#coachingteam .coachingteam-member {
  height: 25vw;
}

#coachingteam .coachingteam-wrapper img {
  height: 15vw;
}

#coachingteam .coachingteam-wrapper p {
  margin-right: 40px;
}

#coachingteam .coachingteam-join {
  background: var(--green);
}

#coachingteam .coachingteam-joinus {
  background: var(--green);
  padding: 5rem 10rem;
}

@media screen and (max-width: 767px) {
  #coachingteam .coachingteam-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 564px) {
  #coachingteam .coachingteam-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

/* ======================= COURSES ========================= */

/* heading/signin */

#courses .portal-access {
  align-content: center;
  justify-content: center;
  padding: 100px;
}

#courses .user-login,
#courses .user-register {
  margin: 20px;
  border: 0.5px solid var(--dark);
}

/* overview */

.course-overview {
  padding: 5rem 10rem;
}

.course-overview hr {
  width: 10rem;
  margin: 0px;
}

.course-video-example {
  padding: 3rem 0;
  align-content: center;
  text-align: center;
}

.course-information h1 {
  color: var(--dark);
}

.video-title {
  color: var(--dark);
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 60%;
  left: 20%;
  position: absolute;
  top: 0;
  width: 60%;
}

.course-information {
  padding: 6rem;
  color: var(--dark);
}

.course-booking {
  padding: 6rem;
  color: var(--white);
  background: var(--gray);
  text-align: center;
}

/* ======================= HELP ME DECIDE ========================= */

#help-me .helpme-overview {
  padding: 5rem 10rem;
}

#help-me .helpme-overviewhr {
  width: 10rem;
  margin: 0px;
}

/* ======================= PARTNERSHIPS ========================= */

#sponsors {
  background-color: #0f1225;
}

#sponsors .sponsor-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-content: center;
}

#sponsors .sponsor-container img {
  height: 20vw;
  width: auto;
  max-width: 100%;
}

#sponsors h4 {
  color: var(--white);
  font-size: 2vw;
  text-align: center;
  padding-top: 70px;
  margin-top: 0px;
}

/* =========== LOGIN ============= */

#login,
#register {
  background-color: #f7f7f7;
  padding: 4rem 4rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}

#login .login-form,
#register .register-form {
  margin: 0 auto;
  max-width: 40rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 3rem 5rem;
  border-radius: 5px;
}

#login .login-heading,
#register .register-heading {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#4b61df),
    to(#7f97e4)
  );
  background-image: linear-gradient(to right, #4b61df, #7f97e4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
  margin-bottom: 3.5rem !important;
}

#login .form__group {
  margin-bottom: 1.5rem;
}

.form__label {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.form__input {
  display: block;
  font-family: inherit;
  font-size: 1.2rem;
  color: inherit;
  padding: 1rem 1.25rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Pseudo element (a visible thing that isn't really in the DOM).
      Also needs -ms- */
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.register-form .form__group:nth-child(1n + 2) {
  padding-top: 20px;
}

/* ============= Course Cards ================== */

.card-container {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 7rem;
  padding: 50px;
  align-items: center;
  justify-content: center;
}

.card {
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card__header {
  position: relative;
}

.card__picture {
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
  clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
  height: 15rem;
}

.card__picture-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#6f7ed5),
    to(#2881b4)
  );
  background-image: linear-gradient(to right bottom, #6f7ed5, #2881b4);
  opacity: 0.7;
}

.card__picture-img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.5rem;
  column-gap: 10rem;
  padding: 1.5rem 2rem;
}

.card__sub-heading {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  grid-column: 1 / -1;
}

.card__text {
  grid-column: 1 / -1;
  font-size: 1rem;
  font-style: italic;
  margin-top: -1rem;
  margin-bottom: 0.75rem;
}

.card__footer {
  background-color: #f7f7f7;
  padding: 1rem 2rem;
  border-top: 1px solid #f1f1f1;
  font-size: 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-top: auto;
}

.card__footer-value {
  font-weight: 700;
}

.card__footer-text {
  color: #999;
}

.card .btn-small,
.card .btn {
  grid-row: 3;
  justify-self: flex-end;
  -ms-flex-item-align: center;
  align-self: center;
}

.card__footer p {
  width: fit-content;
}

@media only screen and (max-width: 973px) {
  .card {
    margin: auto;
  }
}

@media only screen and (max-width: 424px) {
  .card__footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

/* ======================= VIDEO VIDEOS PAGE ========================= */

#video-overview h1 {
  color: #0f1225;
}

#video-overview .video-heading {
  padding: 2rem 0;
  text-align: center;
}

#video-overview .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#video-overview .video-box {
  padding: 2rem;
}

#video-overview .video-box img {
  width: 15rem;
  height: 15rem;
}

/* ======================= VIDEO PLAYER ========================= */

#video-player h1 {
  color: #0f1225;
  text-align: center;
}

#video-player .video-title {
  padding-top: 2rem;
}

#video-player hr {
  width: 30%;
  margin: 1.5rem auto;
}

#video-player .video-box {
  width: 50rem;
  height: auto;
  margin: auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* ======================= FOOTER ========================= */

.footer {
  background-color: var(--white);
  padding: 1rem 4rem 0rem 4rem;
  font-size: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 0.75rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 100%;
}

.footer__logo {
  grid-row: 1 / 3;
  -ms-flex-item-align: center;
  align-self: center;
}

.footer__logo img {
  height: 10rem;
}

.footer__nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  padding-left: 0px;
}

.footer__nav li {
  margin-left: 1rem;
  text-align: center;
}

.footer__nav a {
  color: #777;
  text-decoration: none !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer__nav a:hover,
.footer__nav a:active {
  color: var(--dark);
}
.footer__copyright {
  justify-self: end;
  color: #999;
}

@media only screen and (max-width: 50em) {
  .footer {
    grid-template-columns: 1fr;
    grid-row-gap: 1.25rem;
    justify-items: center;
    max-width: 100%;
  }
  .footer__logo {
    grid-row: 1;
    height: 5rem;
    width: auto;
  }
  .footer__nav {
    flex-direction: column;
  }
  .footer__nav li:nth-child(n + 1) {
    padding-top: 15px;
  }
  .footer .footer__nav li {
    font-size: 1.5rem;
  }
  .footer__copyright {
    justify-self: center;
  }
}
