footer.footer
    .footer__logo 
        img(src='/img/cc-logo-white.jpg' alt='Class Cricket logo')
    ul.footer__nav
        li: a(href='/') Home
        li: a(href='/find-us') Find us
        li: a(href='#') Coaching team
        li: a(href='#') Help me decide
        li: a(href='#') Partnerships
        li: a(href='#') Contact us
    p.footer__copyright &copy; Class Cricket 2021
