section#sponsors
  h4 OUR SPONSORS
  .sponsor-container 
    img.sponsor-box(src="/img/big-dog.JPG")
    img.sponsor-box(src="/img/big-dog.JPG")
    img.sponsor-box(src="/img/big-dog.JPG")
    img.sponsor-box(src="/img/big-dog.JPG")
    img.sponsor-box(src="/img/big-dog.JPG")

